#page-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  

  main {
    background-color: #FFF;
    width: 500px;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      height: 250px;
      width: 250px;
    }

  }

  .create-spent {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }


  }


}
